{% extends "base.html" %}
{% load urlify %}
{% block head_title %}
    {{ instance.title }} - {{block.super}}
{% endblock head_title %}

{% block content %}


{% if instance.image %}
<style>
    .intro-post { background:url('{{ instance.image.url }}') no-repeat center top; }
</style>
{% endif %}

    <header class="intro-header intro-post">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{instance.title}}</h1>
                        <span style="color: black;" class="meta">Posted by <a style="color: black;" href="#">{{instance.user}}</a> on {{instance.publish}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
      <div class="container">
    <!-- Post Content -->
    <article>
      
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <p class="content-markdown"> {{ instance.content }}</p>
                    </div>
                </div>
            
        </article>
    
        

        <div class="row">
            {% if request.user.is_staff or request.user.is_superuser %}
                <a href="{{instance.get_absolute_url}}edit">edit</a>
                <a href="{{instance.get_absolute_url}}delete">delete</a>
            {% endif %}
        </div>

        <div class="row">
            {{instance.comment_set.all}}

            {% for c in instance.comment_set.all %}
                {{instance.comment.content}}
            {% endfor %}
        </div>
        
 </div>
{% endblock content %}
<!--
<a href="https://www.facebook.com/sharer/sharer.php?u=
    {{ request.build_absolute_uri }}
    ">
    Share on Facebook
</a>
-
<a href="https://twitter.com/home?status={{share_string}}
    {{ request.build_absolute_uri }}
    ">
    Share on Twitter
</a>
-
<a
    href="https://www.linkedin.com/shareArticle?mini=true&url=http://swiftforentrepreneurs.com/&title=Be%20first%20%7C%20Join%20Swift%20for%20Entrepreneurs&summary=Swift%20for%20Entrepreneurs%20is%20a%20project-based%20programming%20course%20for%20non-technical%20founders.%20We'll%20learn%20how%20to%20build%20iOS%20apps%20from%20scratch%20using%20Apple's%20new%20programming%20language:%20Swift.%20Be%20first%20and%20learn%20with%20me!&source=
    {{ request.build_absolute_uri }}
    ">
    Share on Linkedin
</a>-->