@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre|Open+Sans|Roboto');

body {

}



html, body,
h1,
h2,
h3,
h4,
h5 {
    font-family:'Open Sans', 'serif' !important;
}

h1 {
    color:#b39247;
}
a:hover {
  text-decoration:none;
  }

.col-centered{
    float: none;
    margin: 0 auto;
}


/*-- menu --*/

.navbar {
    border-radius: 0px;
}

.nav-menu {
    background-color:#C1151B;
    color:#fff;
}
.nav-menu ul{
    background-color:#C1151B;
    color:#fff;
}

.nav-menu a{
    color:#fff;
}
.navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    display:inline-block;
}
  
.is-dropdown-submenu {
    border:none !important;
}


.navbar-default {
    background-color: #EB0319;
    border:none;
}

.navbar-default .navbar-nav > li > a{
    color: #ffffff;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #f2f2f2;
    background-color: transparent;
}

.wmd-panel{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.intro-home {
    background-image: url('../img/home-bg.jpg');
}