<!--DOCTYPE HTML-->
{% load staticfiles %}
<html>
  <head>
  <title>{% block head_title %} Try Django 1.9 {% endblock head_title %}</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href='{% static "css/base.css" %}' />
  {% block head_extra %}
  {% endblock head_extra %}
</head>
<body>
  {% include 'navbar.html' %}
  <div class="container">
  <div class="row">
  <div class="row" id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=522313097949783";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=522313097949783";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  {% include 'messages_display.html' %}

{% block content %}{% endblock content %}
{% include 'javascripts.html' %}
</div>
<div class="row">
  <footer>
    <p> &copy; 2017 Django Blog.</p>
  </footer>  
</div>
  </div>
</body>
</html>