{% load staticfiles %}
<!-- cdn -->
<script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>

<!-- local -->
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/clean-blog.min.js' %}"></script>

<script type="text/javascript">
$(document).ready(function(){
$('.content-markdown').each(function(){
    var content = $(this).text()
    console.log(content)
    var markedContent = marked(content)
    console.log(markedContent)    
    $(this).html(markedContent)
})

$(".content-markdown img").each(function(){
	    $(this).addClass("img-responsive")
    })

 var titleItem = $("#id_title")
 $("#preview-title").html(titleItem.val())

 var contentItem = $("#id_content")
 
 function setContent (value){
 	var markedContent = marked(value);
 	$("#preview-content").html(markedContent);
 	$("#preview-content img").each(function(){
 		$(this).addClass("img-responsive");
 	})
 }

 setContent(contentItem.val());


 contentInput.keyup(function(){
 	var newContent = $(this).val()
 	setContent = (newContent)
 });

 var titleInput = $("id_title");

 function setTitle(value){
 	$("#preview-title").text(value);
 }
 setTitle(titleInput.val());

 titleInput.keyup(function(){
 	var newContent = $(this).val();
 	setTitle(newContent);
 });

});


</script>
